body, html{
  padding: 0;
  margin: 0;
  background-color: black;
  height: 100%;
    width: 100%;
}
svg{
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 0;
  margin: 0;
  position:fixed;
<<<<<<< HEAD
  top: 0%;
  left: 0%;
  transform: translate(0, 0%);
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform:translate(0, 0%);
=======
  top:0;
  left:0;
  bottom:0;
  right:0;
>>>>>>> c64ad6f554c06345691081a8414dc58a97dafc7c
}

#titleholder{
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 1;
  color: white;
  top: 50%;
  left: 50%;
<<<<<<< HEAD
  transform: translate(0%, -50%);
=======
  transform: translate(-50%, -50%);
>>>>>>> c64ad6f554c06345691081a8414dc58a97dafc7c
}
